ASE-Migrate-ticket-shared-la/rest-r-post-sms-wf.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "GetTokenFromKeyVault": {
                "type": "Http",
                "inputs": {
                    "method": "GET",
                    "uri": "@{appsetting('KeyVaultUrl')}/secrets/ws-sms-kpn-token?api-version=7.0",
                    "authentication": {
                        "type": "ManagedServiceIdentity",
                        "audience": "https://vault.azure.net"
                    }
                },
                "runAfter": {},
                "runtimeConfiguration": {
                    "secureData": {
                        "properties": ["outputs"]
                    }
                }
            },
            "ParseTokenResponse": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@body('GetTokenFromKeyVault')?['value']",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "access_token": {
                                "type": "string"
                            },
                            "expires_at": {
                                "type": "string"
                            }
                        }
                    }
                },
                "runAfter": {
                    "GetTokenFromKeyVault": ["Succeeded"]
                }
            },
            "CheckTokenExpiry": {
                "type": "If",
                "expression": {
                    "or": [
                        {
                            "equals": [
                                "@body('ParseTokenResponse')?['access_token']",
                                ""
                            ]
                        },
                        {
                            "less": [
                                "@ticks(body('ParseTokenResponse')?['expires_at'])",
                                "@ticks(utcNow())"
                            ]
                        }
                    ]
                },
                "actions": {
                    "GetNewToken": {
                        "type": "Http",
                        "inputs": {
                            "method": "POST",
                            "uri": "https://api-prd.kpn.com/oauth/client_credential/accesstoken?grant_type=client_credentials",
                            "headers": {
                                "Content-Type": "application/x-www-form-urlencoded"
                            },
                            "authentication": {
                                "type": "Basic",
                                "username": "@{appsetting('KpnSmsClientId')}",
                                "password": "@{appsetting('KpnSmsClientSecret')}"
                            }
                        },
                        "runAfter": {}
                    },
                    "UpdateTokenInKeyVault": {
                        "type": "Http",
                        "inputs": {
                            "method": "PUT",
                            "uri": "@{appsetting('KeyVaultUrl')}/secrets/ws-sms-kpn-token?api-version=7.0",
                            "body": {
                                "value": "@{json(concat('{\"access_token\":\"', body('GetNewToken')?['access_token'], '\",\"expires_at\":\"', addMinutes(utcNow(), 55), '\"}'))}"
                            },
                            "authentication": {
                                "type": "ManagedServiceIdentity",
                                "audience": "https://vault.azure.net"
                            }
                        },
                        "runAfter": {
                            "GetNewToken": ["Succeeded"]
                        }
                    },
                    "SetAccessToken": {
                        "type": "Compose",
                        "inputs": "@body('GetNewToken')?['access_token']",
                        "runAfter": {
                            "UpdateTokenInKeyVault": ["Succeeded"]
                        }
                    }
                },
                "else": {
                    "actions": {
                        "UseExistingToken": {
                            "type": "Compose",
                            "inputs": "@body('ParseTokenResponse')?['access_token']",
                            "runAfter": {}
                        }
                    }
                },
                "runAfter": {
                    "ParseTokenResponse": ["Succeeded"]
                }
            },
            "PrepareKpnSmsRequest": {
                "type": "Compose",
                "inputs": {
                    "sender": "@{coalesce(triggerBody()?['operator'], 'KPNB2B')}",
                    "messages": "@{array(createArray(json(concat('{\"mobile_number\": \"', join(triggerBody()['mobilephones'], ','), '\", \"content\": \"', replace(replace(triggerBody()['smsmessage'], '\"', '\\\"'), '\n', '\\n'), '\"}'))))}",
                    "webhook_url": "@{if(not(empty(appsetting('SmsWebhookUrl'))), appsetting('SmsWebhookUrl'), null)}"
                },
                "runAfter": {
                    "CheckTokenExpiry": ["Succeeded"]
                }
            },
            "SendSmsToKpnApi": {
                "type": "Http",
                "inputs": {
                    "method": "POST",
                    "uri": "https://api-prd.kpn.com/communication/kpn/sms/send",
                    "headers": {
                        "Content-Type": "application/json",
                        "Authorization": "Bearer @{if(equals(outputs('CheckTokenExpiry'), true), outputs('SetAccessToken'), outputs('UseExistingToken'))}"
                    },
                    "body": "@outputs('PrepareKpnSmsRequest')",
                    "retryPolicy": {
                        "type": "exponential",
                        "count": 3,
                        "interval": "PT10S"
                    }
                },
                "runAfter": {
                    "PrepareKpnSmsRequest": ["Succeeded"]
                },
                "trackedProperties": {
                    "action": "send",
                    "destination": "SMS",
                    "provider": "KPN",
                    "reference_number": "@{triggerBody()['caseid']}",
                    "source": "@{triggerBody()['source']}",
                    "mobile_numbers": "@{join(triggerBody()['mobilephones'], ';')}",
                    "workflow_run_id": "@{workflow()?['run']?['name']}"
                }
            },
            "EvaluateResponse": {
                "type": "If",
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@outputs('SendSmsToKpnApi')['statusCode']",
                                200
                            ]
                        },
                        {
                            "equals": [
                                "@body('SendSmsToKpnApi')?['status']",
                                "OK"
                            ]
                        }
                    ]
                },
                "actions": {
                    "SuccessResponse": {
                        "inputs": {
                            "body": {
                                "result": {
                                    "code": "FunctionalEndpointSuccess",
                                    "message": "SMS message(s) processed successfully",
                                    "document_id": "@{body('SendSmsToKpnApi')?['document_id']}"
                                }
                            },
                            "statusCode": 200
                        },
                        "kind": "Http",
                        "runAfter": {},
                        "type": "Response"
                    }
                },
                "else": {
                    "actions": {
                        "ErrorResponse": {
                            "inputs": {
                                "body": {
                                    "error": {
                                        "code": "TechnicalEndpointFailure",
                                        "message": "Error in processing SMS messages",
                                        "details": "@{coalesce(body('SendSmsToKpnApi')?['message'], 'Unknown error occurred')}"
                                    }
                                },
                                "statusCode": 500
                            },
                            "kind": "Http",
                            "runAfter": {},
                            "type": "Response"
                        }
                    }
                },
                "runAfter": {
                    "SendSmsToKpnApi": ["Succeeded", "Failed", "TimedOut"]
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "rest-r-post-sms-wf": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "schema": {
                        "properties": {
                            "caseid": {
                                "type": "string"
                            },
                            "mobilephones": {
                                "items": {
                                    "type": "string"
                                },
                                "type": "array"
                            },
                            "operator": {
                                "type": "string"
                            },
                            "smsmessage": {
                                "type": "string"
                            },
                            "source": {
                                "type": "string"
                            }
                        },
                        "required": [
                            "source",
                            "mobilephones",
                            "smsmessage",
                            "caseid"
                        ],
                        "type": "object"
                    }
                },
                "operationOptions": "EnableSchemaValidation",
                "correlation": {
                    "clientTrackingId": "@{concat(triggerBody()?['caseid'],'__',guid())}"
                }
            }
        }
    },
    "kind": "Stateful"
}